@font-face{
  font-family:'Amazon Ember';
  font-weight:200;
  src:url(../fonts/AmazonEmberT.woff2) format("woff2"),url(../fonts/AmazonEmberT.woff) format("woff")
}
@font-face{
  font-family:'Amazon Ember';
  font-weight:200;
  font-style:italic;
  src:url(../fonts/AmazonEmberTi.woff2) format("woff2"),url(../fonts/AmazonEmberTi.woff) format("woff")
}
@font-face{
  font-family:'Amazon Ember';
  src:url(../fonts/AmazonEmberR.woff2) format("woff2"),url(../fonts/AmazonEmberR.woff) format("woff")
}
@font-face{
  font-family:'Amazon Ember';
  font-style:italic;
  src:url(../fonts/AmazonEmberRi.woff2) format("woff2"),url(../fonts/AmazonEmberRi.woff) format("woff")
}
@font-face{
  font-family:'Amazon Ember';
  font-weight:500;
  src:url(../fonts/AmazonEmberSB.woff2) format("woff2"),url(../fonts/AmazonEmberSB.woff) format("woff")
}
@font-face{
  font-family:'Amazon Ember';
  font-weight:500;
  font-style:italic;
  src:url(../fonts/AmazonEmberSBi.woff2) format("woff2"),url(../fonts/AmazonEmberSBi.woff) format("woff")
}
@font-face{
  font-family:'Amazon Ember';
  font-weight:700;
  src:url(../fonts/AmazonEmberB.woff2) format("woff2"),url(../fonts/AmazonEmberB.woff) format("woff")
}
@font-face{
  font-family:'Amazon Ember';
  font-style:italic;
  font-weight:700;
  src:url(../fonts/AmazonEmberBi.woff2) format("woff2"),url(../fonts/AmazonEmberBi.woff) format("woff")
}